#spis_strony {
	display: none;
}

#menu {
	display: none;
}

#tresc {
	margin: 0px auto;
	border: none;
}

body {
	text-decoration: none;
	border-color: black;
}

h1, h2, h3, a, p {
	color: black;
	margin: 10px 10px;
}

p::first-letter {
	font-size: 100%;
}

#title {
	margin: 10px 10px;
}

table {
	border: none;
}
